In [1]:
import pandas as pd
import geopandas as gpd
from geopandas import GeoDataFrame
import numpy as np

In [2]:
# CRITICAL: Singapore's Projected Coordinate System (Metric)
# We MUST use this. Do not use EPSG:4326 (Lat/Lon).
CRS_PROJ = "EPSG:3414"

In [3]:
raw_path = "../data/data_raw/"

- From the HDB report (refer to HDB_Key_Statistics_2025.pdf in data/data_raw), the total HDB population is 3,190,590 (3.2 million).

In [4]:
hdb_population = 3190590

In [5]:
planning_area = gpd.read_file(f"{raw_path}MasterPlan2019PlanningAreaBoundaryNoSea.geojson")
subzone = gpd.read_file(f"{raw_path}MasterPlan2019SubzoneBoundaryNoSeaGEOJSON.geojson")
sport_facilities  = gpd.read_file(f"{raw_path}SportSGSportFacilitiesGEOJSON.geojson")
parks = gpd.read_file(f"{raw_path}NParksParksandNatureReserves.geojson")
park_connector = gpd.read_file(f"{raw_path}ParkConnectorLoop.geojson")
cycling_paths = gpd.read_file(f"{raw_path}CyclingPathNetwork.geojson")
hdb = gpd.read_file(f"{raw_path}HDBExistingBuilding.geojson")

In [6]:
print("HDB")
display(hdb.head())

print("Planning Area")
display(planning_area.head())

print("sport_facilities")
display(sport_facilities.head())

print("parks")
display(parks.head())

print("cycling_paths")
display(cycling_paths.head())

print("park_connector")
display(park_connector.head())

HDB

   name                                           geometry
0  Path  LINESTRING (103.8017 1.44919, 103.80169 1.4491...
1  Path  LINESTRING (103.75023 1.35897, 103.75033 1.359...
2  Path  LINESTRING (103.95811 1.35344, 103.95812 1.353...
3  Path  LINESTRING (103.74972 1.39435, 103.74967 1.394...
4  Path  LINESTRING (103.81731 1.27887, 103.81735 1.278...

Planning Area

,Name,Description,geometry
0,kml_1,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((103.93208 1.30555 0, 103.93208 1.3..."
1,kml_2,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((103.72042 1.32824 0, 103.72003 1.3..."
2,kml_3,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((103.76408 1.37001 0, 103.76444 1.3..."
3,kml_4,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((103.82361 1.26018 0, 103.82362 1.2..."
4,kml_5,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((103.77445 1.39029 0, 103.77499 1.3..."

sport_facilities

,Name,Description,geometry
0,kml_1,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((103.76283 1.31055 0, 103.76284 1.3..."
1,kml_2,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((103.76438 1.31138 0, 103.76461 1.3..."
2,kml_3,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((103.6937 1.33894 0, 103.69372 1.33..."
3,kml_4,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((103.87225 1.32325 0, 103.8723 1.32..."
4,kml_5,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((103.87736 1.3068 0, 103.8787 1.306..."

parks

,OBJECTID_1,L_CODE,NAME,N_RESERVE,INC_CRC,FMEL_UPD_D,SHAPE_1.AREA,SHAPE_1.LEN,geometry
0,78940,SO519,ANN SIANG HILL PK,0,302DE6B4C97E0C95,20250124001553,3228.382276,673.461801,"POLYGON ((103.84585 1.28131, 103.84588 1.28129..."
1,78941,NRNP29,KRANJI MARSHES,0,CD48F4231EF5051A,20250124001552,567203.505838,5521.407553,"POLYGON ((103.72803 1.42205, 103.72713 1.42244..."
2,78942,WJ530,PASIR PANJANG PARK,0,9FB33E98EF43867C,20250124001553,59468.135315,5241.430784,"MULTIPOLYGON (((103.79197 1.2757, 103.7919 1.2..."
3,78943,WB504,BOUGAINVILLEA PK,0,C4A764FCBD83C176,20250124001553,11333.268934,608.502350,"POLYGON ((103.8085 1.32591, 103.80857 1.32593,..."
4,78944,ST500,TOA PAYOH TOWN PK,0,9B0940EA45632E86,20250124001553,45692.560453,985.394079,"POLYGON ((103.84725 1.33128, 103.84708 1.33129..."

cycling_paths

   name                                           geometry
0  Path  LINESTRING (103.85168 1.33252, 103.85179 1.331...
1  Path  LINESTRING (103.85194 1.33152, 103.85201 1.331...
2  Path  LINESTRING (103.85253 1.33147, 103.85268 1.33148)
3  Path  LINESTRING (103.85268 1.33148, 103.85292 1.331...
4  Path  LINESTRING (103.85469 1.33187, 103.85479 1.331...

park_connector

,OBJECTID,PARK,PCN_LOOP,MORE_INFO,INC_CRC,FMEL_UPD_D,SHAPE.LEN,geometry
0,46788,Alexandra Garden Trail,Southern Ridges Loop,http://www.nparks.gov.sg/pcn,627171273E813BA6,20250122140539,953.788169,"MULTILINESTRING ((103.8024 1.27294, 103.80239 ..."
1,46789,Alexandra Garden Trail,Southern Ridges Loop,http://www.nparks.gov.sg/pcn,1D17544B221A9647,20250122140539,32.784076,"MULTILINESTRING ((103.80217 1.27412, 103.80216..."
2,46790,Ulu Pandan PC,Southern Ridges Loop,http://www.nparks.gov.sg/pcn,979918B0981912D3,20250122140539,2157.885047,"LINESTRING (103.78799 1.30826, 103.78798 1.308..."
3,46791,Ulu Pandan (North Bank) PC,Southern Ridges Loop,http://www.nparks.gov.sg/pcn,A7AD54F80CDEF8C4,20250122140539,591.548521,"LINESTRING (103.77979 1.31289, 103.78073 1.312..."
4,46792,Alexandra Park Connector,Southern Ridges Loop,http://www.nparks.gov.sg/pcn,38635561BFB8C040,20250122140539,68.846538,"LINESTRING (103.81572 1.29253, 103.81574 1.292..."

In [7]:
def clean_data( gdf: GeoDataFrame, crs_projection=CRS_PROJ) -> GeoDataFrame:
    """
    Clean a GeoDataFrame with geometry-aware handling.

    - Reprojects to `crs_projection`
    - Lowercases column names
    - Drops NA geometries
    - For polygons: fixes invalids via buffer(0), drops empties/invalids, computes area (>0)
    - For lines: keeps valid non-empty lines, computes length

    Parameters
    ----------
    gdf : GeoDataFrame
    crs_projection : Any CRS that GeoPandas/Shapely accepts
    """
    # Reproject & standardize columns
    gdf = gdf.to_crs(crs_projection)
    gdf.columns = gdf.columns.str.lower()

    # Drop NA geometries early
    gdf = gdf[gdf.geometry.notna()].copy()

    # Normalize expected_geom
    expected_geom = gdf.geometry.geom_type.str
    eg = str(expected_geom).lower()

    if eg in ("polygon", "multipolygon"):
        # Keep only polygonal geometries
        poly_mask = gdf.geometry.geom_type.str.contains("Polygon", case=False)
        gdf = gdf[poly_mask].copy()

        # Fix invalid polygon geometries; buffer(0) may collapse bad shapes -> empty
        gdf["geometry"] = gdf.buffer(0)

        # Drop invalids and empties produced by buffer(0)
        gdf = gdf[gdf.geometry.is_valid & ~gdf.geometry.is_empty].copy()

        # Compute area and keep positive-area polygons
        gdf["area"] = gdf.geometry.area
        gdf = gdf[gdf["area"] > 0].copy()

    elif eg in ("linestring", "multilinestring"):
        # Keep only line geometries
        line_mask = gdf.geometry.geom_type.str.contains("LineString", case=False)
        gdf = gdf[line_mask].copy()

        # Do NOT buffer(0) for lines; zero-width buffer collapses to empty
        gdf = gdf[gdf.geometry.is_valid & ~gdf.geometry.is_empty].copy()

        # Length is the relevant metric for lines
        gdf["length"] = gdf.geometry.length

    else:
        # Fallback: return valid, non-empty geometries without area/length enrichment
        gdf = gdf[gdf.geometry.is_valid & ~gdf.geometry.is_empty].copy()

    return gdf

In [8]:
planning_area = clean_data(planning_area)
subzone = clean_data(subzone)
sport_facilities = clean_data(sport_facilities)
park_connector = clean_data(park_connector)
parks = clean_data(parks)
cycling_paths = clean_data(cycling_paths)
hdb = clean_data(hdb)

In [9]:
print("HDB")
display(hdb.head())

print("Planning Area")
display(planning_area.head())

print("sport_facilities")
display(sport_facilities.head())

print("parks")
display(parks.head())

print("cycling_paths")
display(cycling_paths.head())

print("park_connector")
display(park_connector.head())

HDB

   name                                           geometry
0  Path  LINESTRING (24481.043 47869.63, 24480.427 4786...
1  Path  LINESTRING (18753.211 37893.756, 18764.786 379...
2  Path  LINESTRING (41887.998 37282.122, 41889.532 372...
3  Path  LINESTRING (18696.214 41806.326, 18691.537 418...
4  Path  LINESTRING (26218.761 29036.217, 26222.34 2904...

Planning Area

,name,description,geometry
1,kml_2,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((15436.019 34495.789 0, 15391.952 3..."
2,kml_3,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((20294.455 39114.528 0, 20334.318 3..."
4,kml_5,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((21448.724 41356.741 0, 21508.535 4..."
5,kml_6,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((24031.387 36694.742 0, 24076.658 3..."
6,kml_7,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((25073.293 43675.363 0, 25130.764 4..."

sport_facilities

,name,description,geometry
0,kml_1,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((20155.435 32539.297 0, 20156.404 3..."
1,kml_2,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((20328.257 32631.062 0, 20352.9 326..."
2,kml_3,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((12462.221 35679.118 0, 12464.269 3..."
3,kml_4,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((32333.007 33944.029 0, 32337.728 3..."
4,kml_5,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((32901.095 32125.32 0, 33050.598 32..."

parks

,objectid_1,l_code,name,n_reserve,inc_crc,fmel_upd_d,shape_1.area,shape_1.len,geometry
0,78940,SO519,ANN SIANG HILL PK,0,302DE6B4C97E0C95,20250124001553,3228.382276,673.461801,"POLYGON ((29394.86 29306.735, 29398.146 29304...."
1,78941,NRNP29,KRANJI MARSHES,0,CD48F4231EF5051A,20250124001552,567203.505838,5521.407553,"POLYGON ((16282.585 44868.334, 16182.492 44912..."
2,78942,WJ530,PASIR PANJANG PARK,0,9FB33E98EF43867C,20250124001553,59468.135315,5241.430784,"MULTIPOLYGON (((23398.012 28685.981, 23390.437..."
3,78943,WB504,BOUGAINVILLEA PK,0,C4A764FCBD83C176,20250124001553,11333.268934,608.502350,"POLYGON ((25237.943 34238.249, 25246.258 34239..."
4,78944,ST500,TOA PAYOH TOWN PK,0,9B0940EA45632E86,20250124001553,45692.560453,985.394079,"POLYGON ((29550.33 34831.165, 29531.855 34833...."

cycling_paths

   name                                           geometry
0  Path  LINESTRING (30043.502 34968.486, 30055.715 348...
1  Path  LINESTRING (30072.292 34857.7, 30080.547 34852...
2  Path  LINESTRING (30137.887 34852.493, 30154.892 348...
3  Path  LINESTRING (30154.892 34854.208, 30181.791 348...
4  Path  LINESTRING (30378.43 34897.026, 30389.758 3490...

park_connector

,objectid,park,pcn_loop,more_info,inc_crc,fmel_upd_d,shape.len,geometry
0,46788,Alexandra Garden Trail,Southern Ridges Loop,http://www.nparks.gov.sg/pcn,627171273E813BA6,20250122140539,953.788169,"MULTILINESTRING ((24558.852 28380.74, 24557.69..."
1,46789,Alexandra Garden Trail,Southern Ridges Loop,http://www.nparks.gov.sg/pcn,1D17544B221A9647,20250122140539,32.784076,"MULTILINESTRING ((24533.017 28511.282, 24532.3..."
2,46790,Ulu Pandan PC,Southern Ridges Loop,http://www.nparks.gov.sg/pcn,979918B0981912D3,20250122140539,2157.885047,"LINESTRING (22955.196 32286.673, 22954.283 322..."
3,46791,Ulu Pandan (North Bank) PC,Southern Ridges Loop,http://www.nparks.gov.sg/pcn,A7AD54F80CDEF8C4,20250122140539,591.548521,"LINESTRING (22042.228 32798.755, 22147.199 327..."
4,46792,Alexandra Park Connector,Southern Ridges Loop,http://www.nparks.gov.sg/pcn,38635561BFB8C040,20250122140539,68.846538,"LINESTRING (26041.379 30546.929, 26043.499 305..."

In [10]:
# Count number of HDB buildings
hdb_num = len(hdb)
hdb_unit_num = 1153080
hdb_population_per_block = hdb_population / hdb_num
hdb_population_per_unit = hdb_population / hdb_unit_num

print(f"Number of HDB buildings: {hdb_num}")
print(f"Rough estimation of population per HDB block: {hdb_population_per_block}")
print(f"Number of HDB units: {hdb_unit_num}")
print(f"Rough estimation of population per HDB unit: {hdb_population_per_unit}")

Number of HDB buildings: 13160
Rough estimation of population per HDB block: 242.44604863221883
Number of HDB units: 1153080
Rough estimation of population per HDB unit: 2.7670152981579768

In [11]:
# Add population column to HDB geodataframe (per-block estimate)
hdb['population'] = hdb_population_per_block
hdb.head()

   name                                           geometry  population
0  Path  LINESTRING (24481.043 47869.63, 24480.427 4786...  242.446049
1  Path  LINESTRING (18753.211 37893.756, 18764.786 379...  242.446049
2  Path  LINESTRING (41887.998 37282.122, 41889.532 372...  242.446049
3  Path  LINESTRING (18696.214 41806.326, 18691.537 418...  242.446049
4  Path  LINESTRING (26218.761 29036.217, 26222.34 2904...  242.446049

In [12]:
# # Extract the Planning Area Name from the HTML Description
# Pattern: <th>PLN_AREA_N</th> <td>BEDOK</td>
planning_area['name'] = planning_area['description'].str.extract(r'<th>PLN_AREA_N</th> <td>(.*?)</td>')
sport_facilities['name'] = sport_facilities['description'].str.extract(r'<th>SPORTS_CEN<\/th> <td>(.*?)</td>')
# Display the new column to verify

display(planning_area.head())
display(sport_facilities.head())

,name,description,geometry
1,BOON LAY,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((15436.019 34495.789 0, 15391.952 3..."
2,BUKIT BATOK,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((20294.455 39114.528 0, 20334.318 3..."
4,BUKIT PANJANG,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((21448.724 41356.741 0, 21508.535 4..."
5,BUKIT TIMAH,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((24031.387 36694.742 0, 24076.658 3..."
6,CENTRAL WATER CATCHMENT,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((25073.293 43675.363 0, 25130.764 4..."

,name,description,geometry
0,Clementi Stadium,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((20155.435 32539.297 0, 20156.404 3..."
1,Clementi Sports Centre,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((20328.257 32631.062 0, 20352.9 326..."
2,Jurong West Sports Centre,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((12462.221 35679.118 0, 12464.269 3..."
3,Kallang Basin Swimming Complex,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((32333.007 33944.029 0, 32337.728 3..."
4,Kallang Sports Centre,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((32901.095 32125.32 0, 33050.598 32..."

In [13]:
def drop_description(gdf: GeoDataFrame) -> GeoDataFrame:
    if 'description' in gdf.columns:
        gdf = gdf.drop(columns=['description'])

    return gdf

In [14]:
gdf_list = [planning_area, sport_facilities, parks, park_connector, cycling_paths, hdb]

gdf_list = [drop_description(gdf) for gdf in gdf_list]

planning_area, sport_facilities, parks, park_connector, cycling_paths, hdb = gdf_list

In [15]:
file_path = "../data/data_cleaned/"

planning_area_file_path  = f"{file_path}planning_area.geojson"
sport_facilities_file_path  = f"{file_path}sport_facilities.geojson"
parks_file_path  = f"{file_path}parks.geojson"
park_connector_file_path  = f"{file_path}park_connector.geojson"
cycling_paths_file_path  = f"{file_path}cycling_paths.geojson"
hdb_file_path  = f"{file_path}hdb.geojson"

In [16]:
planning_area.to_file(planning_area_file_path, driver="GeoJSON")
sport_facilities.to_file(sport_facilities_file_path, driver="GeoJSON")
parks.to_file(parks_file_path, driver="GeoJSON")
park_connector.to_file(park_connector_file_path, driver="GeoJSON")
cycling_paths.to_file(cycling_paths_file_path, driver="GeoJSON")
planning_area.to_file(planning_area_file_path, driver="GeoJSON")
hdb.to_file(hdb_file_path, driver="GeoJSON")

In [17]:
facilities_num = len(sport_facilities) + len(parks) + len(park_connector) + len(cycling_paths)
facilities_num

5635

In [18]:
import networkx as nx
import osmnx as ox

In [19]:
place_name = "Singapore"
network_type = "walk"
G = ox.graph_from_place(place_name, network_type=network_type)
G_proj = ox.project_graph(G, to_crs=CRS_PROJ)
G_nodes_proj, G_edges_proj = ox.graph_to_gdfs(G_proj, nodes=True, edges=True)

G_nodes_proj = G_nodes_proj.to_crs("EPSG:4326")
G_edges_proj = G_edges_proj.to_crs("EPSG:4326")

In [20]:
graph_file_path = f"{file_path}singapore_walk_graph.graphml"
nodes_file_path  = f"{file_path}singapore_walk_graph_nodes.geojson"
edges_file_path  = f"{file_path}singapore_walk_graph_edges.geojson"

# Use OSMnx's serializer to handle non-primitive attributes (CRS, geometries)
ox.save_graphml(G_proj, filepath=graph_file_path)
G_nodes_proj.to_file(nodes_file_path, driver="GeoJSON")
G_edges_proj.to_file(edges_file_path, driver="GeoJSON")